<div class="contenedor">
  <div class="barra_lateral">
   <h1 class="titulo-registro">Publicar producto</h1>
    
    <div class="contenido-form">
      <label class="etiqueta">Nombre</label>
      <input class="nom" style="width: 275px;"
      [(ngModel)]="producto.nombre_producto"
        class="form-control"
        name="titulo"
        type="text"
        maxlength="50"
      />
    </div>
    <div class="contenido-form">
      <label class="etiqueta">Descripción</label>
      <textarea style="width: 275px;"
      [(ngModel)]="producto.descripcion_producto"
        class="form-control"
        name="descripcion-producto"
        cols="28"
        rows="2"
      ></textarea>
    </div>
    <div class="contenido-form">
      <label class="etiqueta">Precio</label>
      <input class="pre" style="width: 275px;"
      [(ngModel)]="producto.precio_product"
        class="form-control"
        name="precio"
        type="text"
        maxlength="50"
      />
    </div>
    <div class="contenido-form">
      <label class="etiqueta">Categoría</label>
      <select name="categoria" (change)= "obtenerCategoria($event.target.value)" style="width: 284px;">
        <option
          *ngFor="let categoria of catalogos"
          [value]="categoria.id_catalogo">
          {{ categoria.nombre_catalogo }}
        </option>
      </select>
    </div>
    <div class="contenido-form">
      <label class="etiqueta">Tienda</label>
      <select name="tienda" (change)="obtenerTienda($event.target.value)" style="width: 245px;">
        <option *ngFor="let tienda of tiendas" [value]="tienda.id_mark">
          {{ tienda.contenido_mark }}
        </option>
      </select>
      <button (click)="control_botontn()" class="btntienda">+</button>
    </div>
    <div *ngIf="existetienda">
      <div class="contenido-form">
        <label class="etiqueta">Nombre de Tienda</label>
        <input
        [(ngModel)]="marketPlace.contenido_mark"
          class="form-control"
          name="nombtienda"
          type="text"
          maxlength="50"
        />
      </div>
      <div class="contenido-form">
        <label class="etiqueta">Lugar</label>
        <input
        [(ngModel)]="marketPlace.lugar_mark"
          class="form-control"
          name="lugartienda"
          type="text"
          maxlength="50"
        />
      </div>
    </div>

    <div class="contenido-form">
      <label class="etiqueta">Imagen</label>
      <input
        class="form-control"
        name="titulo"
        type="file"
        (change)="onFileChange($event)"
      />
    </div>
    <button class="btncomp" (click)="guardar()" name="guardar">Publicar</button>
  </div>
  <div class="contenido">
    <h1 class="titulo-vistap">Vista Previa</h1>
    <div class="contvistap">
      <h4 class="titulovistpre">{{ producto.nombre_producto }}</h4>
      <h4 class="precio">${{ producto.precio_product }}</h4>
      <img class="imagen-pro" src="{{ image }}" width="200" height="200" />
      <p class="desc">{{producto.descripcion_producto}}</p>
    </div>
  </div>
</div>
