
  <div class="row shadow">
    <div class="row_title">
        <span>Ajustes</span>
    </div>
    <div class="menusetting_contain">
        <ul>
            <li>
                <a [routerLink]="['/configuracion/informacion-personal']">Información personal</a>
            </li>
            <!-- <li>
                <a [routerLink]="['/configuracion']" id="settings-select">Configuración de cuenta</a>
            </li> -->
            <li>
                <a  [routerLink]="['/configuracion/cambiar-contrasena']">Cambiar contraseña</a>
            </li>
        </ul>
    </div>
</div>

