<div class="right_row">
  <div class="row border-radius">
    <div class="settings shadow">
      <div class="settings_title">
        <h3>Información básica &nbsp; </h3>
        <!-- <h3> {{perfil.nombres_user}} {{perfil.apellidos_user}}</h3> -->
      </div>
      <div class="settings_content">
        <style type="text/css">
          .settings_content ul li p {
            padding: 0px;
            padding-left: 5px
          }
        </style>
        <ul>
          <li>
            <p>
              <b>Nombre de usuario:  </b> 
              <label>{{perfil.nom_usuario}}</label>              

              <br>
            </p>
          </li>
          <li>
            <p>
              <b>Acerca de mi:  </b>
              <label>{{perfil.presentacion}}</label>
              <br>
              
            </p>
          </li>
          <!-- <li>
            <p>
              <b>Cumpleaños:</b>
              <br>
              Diciembre 14th, 1995
            </p>
          </li> -->
          <li>
            <p>
              <b>Ciudad actual:  </b>
              <label>Machala</label>
              <br>
              
            </p>
          </li>
          <!-- <li>
            <p>
              <b>Vivo en:</b>
              <br>
              Machala, EL Oro, Ecuador
            </p>
          </li> -->
          <!-- <li>
            <p>
              <b>Ocupación:</b>
              <br>
              Estudiante
            </p>
          </li> -->
          <!-- <li>
            <p>
              <b>Se unió:</b>
              <br>
              April 31st, 2014
            </p>
          </li> -->
          <li>
            <p>
              <b>Género:  </b>
              <label>Masculino</label>
              <br>
              
            </p>
          </li>
          <li>
            <p>
              <b>Email:               
              </b>
              <label>{{perfil.email_user}}</label>
              <br>
            </p>
          </li>
          <li style="border-bottom: 1px solid white;">
            <p>
              <b>Número de teléfono:  </b>
              <label>{{perfil.telefono}}</label>
              <br>
              
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
