<app-menu-principal></app-menu-principal>
<div class="all">
  <div class="rowfixed"></div>
  <div class="left_row">
    <div class="left_row_profile left1">
      <!-- <img id="portada" src="/../../../assets/images/img_windows.jpg"/> -->
      <div class="left_row_profile">
        <span class="sp">
          <span  class="nom-user">{{usuario.nom_usuario}}</span><br>
          <span class="full-name">{{usuario.nombres_user}} {{usuario.apellidos_user}}</span>
          <hr style="width: 110px; margin-left: 43px;color: rgba(114, 107, 107, 0.6)!important;">

        </span>
        <img id="profile_pic" *ngIf="usuario.imagen_usuario == ''" src="/../../../assets/images/user.jpg" alt="" /> <br>
        <img id="profile_pic" *ngIf="usuario.imagen_usuario !== ''"src="{{usuario.imagen_usuario}}" alt="" /> <br>
        <!--<button class="btn boton" width="15">Subir foto</button>-->
        
      </div>
    </div>
    <app-menu-lateral></app-menu-lateral>
  </div>
  <router-outlet></router-outlet>
  <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up"></i></button>
  <!-- NavMobile -->
  <app-menu-movil></app-menu-movil>
