
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
<main class="contenedor">
  <article class="principal">
    <div class="div_men">
      <p class="men" style="color:#5dade2;">Comunícate con tus amigos 
        <br/>en cualquier lugar del mundo <br/>
        y a cualquier hora</p>
    </div>
    <div class="img-presentacion"> <img src="../../../../assets/images/yuno.png" width="290" height="100"> </div>
    <div class="registro">
      <h1>
        Yuno
      </h1>
      <form>
        <div class="grupo-formulario">
          <input type="email" name="email" placeholder="Correo electrónico" [(ngModel)]="usuario.email_user" required="true">
          <input type="password" name="contrasena" placeholder="Contraseña"[(ngModel)]="usuario.contrasena_usuario" required="true">
          <button (click)="logear()">Entrar</button>
        </div>
      </form>
      <p> <a href="#" class="enlace">¿Has olvidado la contraseña?</a></p>
      
      <div class="linea"></div>
      <div class="enlace-login">
        <p><a [routerLink]="['/registro']">Crear cuenta nueva</a></p>
      </div>
    </div>
    
  </article>

</main>
<footer>
  <!-- <ul>
    <li>
      INFORMACIÓN
    </li>
    <li>
      AYUDA
    </li>
    <li>
      PRENSA
    </li>
    <li>
      EMPLEO
    </li>
    <li>
      PRIVACIDAD
    </li>
    <li>
      CONDICIONES
    </li>
    <li>
      UBICACIONES
    </li>
    <li>
      CUENTAS DESTACADAS
    </li>
    <li>
      © 2020 Henry Simbaña -Bryan Gonzales -Marvin Valarezo -Ricardo Ramón -Frank Narvaez -Elvis Paredes
    </li>
  </ul> -->
</footer>


