* {
  margin: auto;
  padding: 0;
  font-family: "Arial";
}
.div_men{
  margin-top: 90px;
  margin-left: 40px;
  
}
.men{
  font-size: 25px;
  text-align: left;

}
.contenedor{
  
}
.linea{
  border:1px solid rgb(211, 209, 209);
  width: 278px;
}
@font-face{
font-family: "RisollaCalisto";
src: url("src\assets\font\Risolla Calisto.ttf");
}
h1{
  font-family: 'Dancing Script', cursive !important;
  font-size: 28px;
}
.img-presentacion{
float: left;
-webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  background-position: 0 0;
  background-size: 454px 618px;
  -webkit-flex-basis: 454px;
  -ms-flex-preferred-size: 454px;
  flex-basis: 454px;
  height: 618px;
margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}
.registro{
float: right;
color: #262626;
background-color:white;
  color: rgba(var(--i1d,38,38,38),1);
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
margin-left: 13%;
margin-right: 10%;
  margin-top: 0%;
max-width: 350px;
border: 0.1rem solid #eeeded;
  border-radius: 10px;
  height: 355px;
  box-shadow: 0 0 20px rgba(201, 200, 200, 0.4);
}
.registro h1{
font-weight: bold;
text-align: center;
margin: 22px auto 12px;
font-family: "RisollaCalisto";
}
.registro h2{
color: #8e8e8e;
  color: rgba(var(--f52,142,142,142),1);
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  margin: 0 40px 10px;
  text-align: center;
}
.registro form{
margin-left: 10%;
margin-right: 10%;
}
.registro p{
color: #8e8e8e;
  color: rgba(var(--f52,142,142,142),1);
  font-size: 12px;
  line-height: 16px;
  margin: 10px 40px;
  text-align: center;
}
.enlace{
  
    text-decoration: none;
    color: #0d8fe6;
}
.enlace:hover{
  text-decoration: underline;
}


.principal{
-webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0px 0px 0px 290px;
  padding-top: 0;
  max-width: 1000px;
  padding-bottom: 64px;
  width: 100%;  
}
input{
margin-top: 2%;
width: 100%;
height: 1.5rem;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
border: 0.1rem solid #e0e0e0;
border-radius: 4px;
background: white !important;
  background: rgba(var(--b3f,250,250,250),1);
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  outline: 0;
  overflow: hidden;
padding: 9px 0 7px 8px;
  text-overflow: ellipsis;
height: 2.5rem;
}
input:focus{
  border:1px solid #5dade2;
  border-style: 4px solid;
}
button{
color: aliceblue;
background-color: #5dade2;
appearance: button;
text-align: center;
border: 0;
border-radius: 4px;
margin-right: 20px;
margin-left: 0px;
margin-top:3%;
margin-bottom: 3%;
width: 100%;
height: 2.5rem;
font-weight: bold;
font-size: 18px;
cursor: pointer;
}
.enlace-login{
background-color:rgb(15, 201, 46);
  color: rgba(var(--i1d,38,38,38),1);
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 3.7%;
  /* border: 0.1rem solid #5dade2 !important; */

  border-radius: 4px;
float: left;
margin-left: 22.5%;
margin-right:2%;
padding-left: 2%;
padding-right: 4%;
  /* border: 0.1rem solid #F2F3F4; */
  border-radius: 4px;
  /* border-top: 1px solid rgb(163, 162, 162); */
}
.enlace-login p{
  /* color: white; */
  /* color: white !important; */
  /* font-weight: bold; */
  /* color: rgba(var(--i1d,38,38,38),1); */
  font-size: 14px;
  margin: 15px;
  text-align: center;
}
.enlace-login p a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.enlace-login:hover{
  
  cursor: pointer;
}
footer{
/* margin-top: 90%;
margin-bottom: 3%;
margin-left: 6%;
margin-right: 6%; */
}
/* footer ul{
display: flex;
justify-content: center;
}
footer ul li {
margin: 0 .75rem;
list-style: none;
font-size: 0.7rem;
} */




