<div class="contenedor">
    <div class="barra_lateral">
        <h2 class="titulo-registro">Descripción del evento</h2>
        <form class= "contenido-form" action="">
            <label class="etiqueta">Nombre:</label>
            <input type="text" class="form-control"  name="nombre_evento" [(ngModel)]="evento.nombre_evento">
            <label class="etiqueta">Lugar:</label>
            <input type="text" class="form-control" name="lugar_evento"  [(ngModel)]="evento.lugar_evento">
            <label class="etiqueta">Fecha y hora de inicio:</label>
            <input type="datetime-local" class="form-control" name="fecha_hora_evento" [(ngModel)]="evento.fecha_hora_evento" >
            <label class="etiqueta">Fecha y hora de finalización:</label>
            <input type="datetime-local" class="form-control" name="fecha_finalizacion"  [(ngModel)]="evento.fecha_finalizacion">
            <label class="etiqueta">Selecionar logo:</label>
            <input type="file" class="form-control"  (change)="onFileChange($event)"  accept="image/*" >
            <button class="btn-crear boton-crear" (click)="guardarEvento()">Crear evento</button>
        </form>
    </div>
    <div class="wraper">
        <div class="vista-previa">
            <h5 class="titulo-vistap">Vista previa del evento</h5>
            <!-- <h3>{{formato(evento.fecha_hora_evento)}}</h3> -->
            <!-- <h4>{{evento.nombre_evento}}</h4> -->
            <div class="encabezado">
                <ul class="barra-estado">
                    <li>
                        <p>{{ usuario.nom_usuario }} te invita a <span  style="color: #111;">{{evento.nombre_evento}}</span> </p>
                    </li>
                    <br>
                    <li>
                        <input class="btn b1"type="button" value="Asistiré">
                    </li>
                    <li>
                        <input class="btn b2"type="button" value="No asistiré">
                    </li>
                    <li>
                        <input class="btn b3"type="button" value="Tal vez asista">
                    </li>
                </ul>
            </div>
            <div class="contenido">
                <div class="detalle">
                    <h4>Detalle</h4>
                    <p>1 persona asistirá, incluido {{ usuario.nom_usuario }}</p>
                    <p>Desde el {{formato(evento.fecha_hora_evento)}}</p>
                    <p>hasta el {{formato(evento.fecha_finalizacion)}}</p>
                    <p>Organizado por {{ usuario.nom_usuario }}</p>
                    <p><span style="font-weight: bold;">Lugar: </span> {{evento.lugar_evento}}</p>
                </div>
                <div class="lista-invitados">
                    <h4>Lista Invitados</h4>
                    <ul class="lista-i">
                        <li>
                            <span class="contador">1</span><br>
                            <span>Asistirán</span>
                        </li>
                        <li>
                            <span class="contador">0</span><br>
                            <span>Invitados</span>
                        </li>
                        <li>
                            <span class="contador">0</span><br>
                            <span>Tal vez asistan</span>
                        </li>
                    </ul>
                    <!-- <hr> -->
                    <!-- <p>{{ usuario.nom_usuario }}</p>
                    <p>Organizador</p> -->
                </div>
            </div>
        </div>
    </div>
</div>
