@charset "utf-8";
.contenedor {
    margin-left: 20%;
	padding-top: 0;
	width: 500px;
}
.vista-previa{
	width: 405px;
	margin-left: 88%;
	padding-left: 0%;
	
	border: 1px solid #5dade2 !important;
	padding-top:0%;
	color:#656968;
	background-color: white;

}
.titulo-registro{
  font-size: 18px;
  text-align: center;
  padding: 7px 0px;
  margin-bottom: 0;
  background-color: #5dade2 !important;
}
.titulo-registro,
.titulo-vistap {
  /* background: #3f4257; */
  color: white;
  
}
.titulo-vistap{
  font-size: 18px;
  margin-top: 0%;
  text-align: center;
  background-color: #5dade2 !important;
  padding: 7px 0px;
  width: 100%;
  margin-left: 0;
  padding-left: 0;
}
.contenido-form {
  margin-top: 0%;
  margin-bottom: 0%;
  padding-left: 2%;
  padding-right: 2%;
  border: 1px solid #5dade2;
  padding-bottom: 15px;
  background-color: white;
}
.barra_lateral {
	float: left;
    /* border: 1px solid #5dade2; */
	margin-right: 0%;
	margin-left: 29%;
	width: 54%;
	height: 525px;
	color:#656968;
	margin-top: 0;
	padding-top: 0;
	
}
.wraper {
    margin-left: 12%;
}
.form-control {
	margin:2%;
	width: 237px;
}
.etiqueta {
	margin:2%;
	display: block;
	font-weight: bold;
}
.encabezado {
	border: 1px solid #e6ecf5;
	width: 94%;
	/* margin-right: 4%; */
	margin-left: 2.9%;
	padding-top: 0;
    margin-top: 0;
}
.barra-estado{
	padding: 0;
}
.barra-estado li{
	display: inline-block;
	margin-right: 2%;
	margin-top: 0;
	padding-top: 0;
}
.lista-i{
    margin-left: 10%;
    margin-right: 10%;
}
.lista-i li{
	display: inline-block;
	margin-right: 2%;
}
.contador{
	color: red;
	padding-left: 50%;
	padding-bottom: 25%;
}
.detalle,.lista-invitados{
	border: 1px solid #e6ecf5;
	width: 90%;
	margin-left: 2.9%;
	margin-top: 2.5%;
	padding: 2%;
}
.detalle p{
	font-size:14px ;
}
.lista-invitados{
    margin-bottom: 2%;
}
.btn-crear,.btn{
	border-radius: 0px;
	background: white !important;
	border: 1px solid #5dade2;
	text-align: center;
	color: #5dade2 !important;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 2%;
	margin-bottom: 2%;
	height: 30px;
	font-size: 1.2rem;
}
.btn-crear,.btn:hover{
	color: white;
	background-color: #5dade2;
}
.boton-crear{
	width: 170px;
}
