<div class="rowmenu">
  <ul>
      <li><a (click)="ingresar()"><img height="40px" src="/../../../assets/img/perfil_mio.png" alt="">Perfil</a></li>
      <li><a [routerLink]="['amigos']"><img height="40px" src="/../../../assets/img/amigos_mio.png" alt="">Amigos</a></li>
      <li><a [routerLink]="['chat']"><img height="40px" src="/../../../assets/img/chat_mio.png" alt="">Chats</a></li>
      <li><a [routerLink]="['evento']"><img height="40px" src="/../../../assets/img/eventos_mio.png" alt="">Eventos</a></li>
      <li><a [routerLink]="['marketplace']"><img height="40px" src="/../../../assets/img/market_mio.png" alt="">Marketplace</a></li>
    </ul>
</div>
