<div class="contenedor">
  <div class="row border-radius">
    <div class="titulo"><label class="">Lista de amigos</label>
    </div>

    <div class="friend" *ngFor="let amigo of amigos">
        <div class="friend_title">
            <span><b>{{amigo.nom_usuario}}</b><br><p>Amigo</p></span>
            <img src="{{amigo.imagen_usuario}}" alt="" />
            <button class="delete-friend" style="margin-right: 5%;padding: 6px 17px;" (click)="seguirAmigo(amigo.id_amigo)">{{verificarSegidor(amigo.es_segido)}}</button>
            <button class="delete-friend" style="margin-right: 5%;" (click)="bloquearAmigo(amigo.id_amigo)">{{verificarBloqueo(amigo.es_bloqueado)}}</button>
            <button class="delete-friend" style="margin-right: 5%;" (click)="eliminarAmigo(amigo.id_amigo)">Eliminar</button>
        </div>
    </div>
</div>
</div>

