.contenedor {
  width: 100%;

}

.titulo{
  text-align: center;
  color:#5dade2 !important;
  border-bottom:  1px solid #98b9eb;
  padding: 12px;
}
.row {
  width: 750px;
  margin-left: 17%;
  display: block;
  background-color: white; 
  color: #515365;
  margin-bottom: 20px;
  border:  1px solid #98b9eb;
}
/* FRIENDS PAGE */
.friend {
  width: 100%;
}
.friend_title {
  padding: 14px;
  border-bottom: 1px solid #98b9eb;
  letter-spacing: 0px;
  display: flex;
  align-items: center;
  margin-left: 0px;
}
.friend_title img {
  height: 40px;
  width: 40px;
  border-radius: 200px;
  margin-right: 310px;
}
.friend_title span {
  font-size: 0.875rem;
  padding-left: 20px;
  width: 75%;
}
.friend_title span b {
  color: #5dade2;
}
.friend_title span p {
  font-size: 0.675rem;
}
.friend_title button {
  border: none;
  color: #5dade2;
  margin-left: -20px;
  cursor: pointer;
  border-radius: 0px;
  width: 150px !important;
  height: 40px;
  padding:6px 10px;
  background-color: white;
  border:1px solid #5dade2;
}
.add-friend {
  background-color: #38a9ff;
}
.friend_title button:hover {
  background-color: #5dade2;
  color: white;
}
.delete-friend {
  /* background-color:white; */
  /* color: #121213; */
  /* z-index: 300; */
  /* border:1px solid #38a9ff; */
}

/* Personalizado */
.border-radius {
  border-radius: 0px;
}
.border-radius-image {
  border-radius: 200px;
}
.hover-orange:hover {
  color: #ff5e3a;
}
.selected-orange {
  color: #ff5e3a;
}
.shadow {
  box-shadow: 3px 4px 5px rgba(209, 209, 209, 0.5);
}
